//_palette.scss
// Custom Palette START
$white: #ffffffff;
$magnolia: #f1f0ffff;
$medium-slate-blue: #6c63ffff;
$independence: #3f3d56ff;
$space-cadet: #737CA5ff;
$honey-yellow: #f6ae2dff;
$burgundy: #5E362Cff;
$rich-black: #023c40ff;
$rich-black-fogra-39: #02020aff;
$warm-black: #211d25ff;
$tan-logo: #d6c7bdff;
// Custom Palette END
$theme-colors: (
    "primary": $medium-slate-blue,
    "secondary": $independence,
    "success": $tan-logo,
    "info": $space-cadet,
    "warning": $honey-yellow,
    "danger": $burgundy,
    "light": $magnolia,
    "dark": $warm-black
);
@import "~bootstrap/scss/bootstrap";