// index.scss
@use '_palette.scss';
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@font-face {
    font-family: 'Museo Cyrl';
    src: url('../public/fonts/MuseoCyrl/MuseoCyrl_500.otf')
    format('opentype');
}

// Custom Palette START
$white: #ffffffff;
$magnolia: #f1f0ffff;
$medium-slate-blue: #6c63ffff;
$independence: #3f3d56ff;
$space-cadet: #39374eff;
$honey-yellow: #f6ae2dff;
$burgundy: #721121ff;
$rich-black: #023c40ff;
$warm-black: #211d25;
$tan-logo: #d6c7bd;
$rich-black-fogra-39: #02020aff;
// Custom Palette END
.btn-primary {
    color: $white;
}
.btn-primary:hover {
    color: $white;
}
//Profile
.profileName {
    color:#211d25
}

.friendRequest {
    background-color: $rich-black !important;
    border-color: $rich-black !important;
}

.directMessage {
    background-color: $warm-black !important;
    border-color: $warm-black !important;
}

.block {
    background-color: $burgundy !important;
    border-color: $burgundy !important;
}


.cardHeader {
    font-family: 'Inconsolata', sans-serif;
    font-size: small;
    font-weight: 800;
    color: #979797;
}

.cardBody {
    font-family: 'Inconsolata', sans-serif;
    font-size: smaller;
    font-weight: 800;
    text-overflow: ellipsis;
}


.avatarCircle {
  height: 3em;
  width: 3em;
  background-image:  url('../public/images/lo_avatar.png');
  background-size: contain;
  text-align: left;
  border-radius: 50%;
}

.cardBG {
    background-image: 
    url('../public/images/bg_complete.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}



.forest{
    background-image: 
    url('../public/images/bg_complete.png');
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    overflow-x:hidden;
    overflow-y:hidden;
}

.nav-link{
    --bs-nav-link-color: $tan-logo;

}

.navhead{
font-family: 'Inconsolata', serif;
color: $tan-logo;
background-color: $warm-black;
}


.container {   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
}

.about-container {
    display: flex;
    align-items: left;
    margin-top: 9em;
    justify-content: center;
    width: 50%; 
    height: 50%;
}

.profile-container {
    display: flex;
    align-items: left;
    margin-top: 9em;
    justify-content: center;
    width: 100%; 
    height: 50%;
}

.fourohfour{
    display: block;
    height: 180px;
    width: 413px;
}

.welcome{
    color: $tan-logo ;
    font-family: 'Inconsolata', serif;
    font-size: medium;
    justify-content: center;
}

.welcomesting {
    font-size: 1.5em;
}

h1, h2{
font-family: 'Museo Cyrl', sans-serif;
color: $tan-logo;
}

.nameplate {
    line-height: 40px;
    margin-left: 10px;
}

#root{
    background-color: #302B37;
}