// index.scss
@use '_palette.scss';
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
// Custom Palette START
$white: #ffffffff;
$magnolia: #f1f0ffff;
$medium-slate-blue: #6c63ffff;
$independence: #3f3d56ff;
$space-cadet: #39374eff;
$honey-yellow: #f6ae2dff;
$burgundy: #721121ff;
$rich-black: #023c40ff;
$green-black: #211d25;
$tan-logo: #d6c7bd;
$rich-black-fogra-39: #02020aff;
// Custom Palette END
.btn-primary {
    color: $white;
}
.btn-primary:hover {
    color: $white;
}
//Profile
.profileName {
    color:#211d25
}

.friendRequest {
    background-color: $rich-black !important;
    border-color: $rich-black !important;
}

.directMessage {
    background-color: $green-black !important;
    border-color: $green-black !important;
}

.forest{
    background-image: 
    url('../public/images/bg_complete.png');
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    
    overflow-x:hidden;
    overflow-y:hidden;
}

.nav-link{
    --bs-nav-link-color: $tan-logo;

}

.navhead{
font-family: 'Inconsolata', serif;
color: $tan-logo;
}


.container {   
    .notfound {
        width:100vw;
        height:100vh;
    }
}

.fourohfour{
    display: block;
    height: 180px;
    width: 413px;
}
