// index.scss
@use '_palette.scss';
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
// Custom Palette START
$white: #ffffffff;
$magnolia: #f1f0ffff;
$medium-slate-blue: #6c63ffff;
$independence: #3f3d56ff;
$space-cadet: #39374eff;
$honey-yellow: #f6ae2dff;
$burgundy: #721121ff;
$rich-black: #023c40ff;
$warm-black: #211d25;
$tan-logo: #d6c7bd;
$rich-black-fogra-39: #02020aff;
// Custom Palette END
.btn-primary {
    color: $white;
}
.btn-primary:hover {
    color: $white;
}
//Profile
.profileName {
    color:#211d25
}

.friendRequest {
    background-color: $rich-black !important;
    border-color: $rich-black !important;
}

.directMessage {
    background-color: $warm-black !important;
    border-color: $warm-black !important;
}

.block {
    background-color: $burgundy !important;
    border-color: $burgundy !important;
}

.cardFactory {
    column-count: 3 !important;
    column-gap: 10px;
}

.cardEntity {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

.forest{
    background-image: 
    url('../public/images/bg_complete.png');
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    overflow-x:hidden;
    overflow-y:hidden;
}

.nav-link{
    --bs-nav-link-color: $tan-logo;

}

.navhead{
font-family: 'Inconsolata', serif;
color: $tan-logo;
background-color: $warm-black;
}


.container {   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
}

.fourohfour{
    display: block;
    height: 180px;
    width: 413px;
}

h1{
font-family: 'Museo', sans-serif;

}